{
  "presets": [
    [
      "@babel/env",
      {
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ],
    "@babel/typescript"
  ],
  "plugins": [
    ["@babel/proposal-decorators", { "legacy": true }],
    ["@babel/proposal-class-properties", { "loose": true }],
    ["@babel/plugin-proposal-object-rest-spread"],
    [
      "@babel/plugin-transform-runtime",
      {
        "version": "7.7.0",
        "corejs": false,
        "helpers": true,
        "useESModules": true
      }
    ]
  ],
  "ignore": ["src/@types"]
}
